.usage{
    background-image: url("../../images/usage-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 790px;
    padding-top: 115px;
}
.usage__logo{
    text-align: center;
}
.usage__logo img{
    display: inline-block;
    width: 81px;
    height: 56px;
}
.usage__title{
    font-size: 47px;
    line-height: 48px;
    font-weight: 900;
    color: #000;
    text-align: center;
    padding: 10px 10px 45px;
}
.usage__title span{
    color: #fa4f01;
}
.usage__inner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.usage__img{
    margin-right: 10px;
}
.usage__content{
    margin-left: 10px;
}
.usage__box-1,
.usage__box-2,
.usage__box-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}
.usage__box-1-img,
.usage__box-2-img,
.usage__box-3-img{
    width: 135px;
    height: 135px;
    margin-right: 30px;
}
.usage__box-1-img{
    background-image: url("../../images/usage__box-1-img.png");
}
.usage__box-2-img{
    background-image: url("../../images/usage__box-2-img.png");
}
.usage__box-3-img{
    background-image: url("../../images/usage__box-3-img.png");
}
.usage__box-1-text,
.usage__box-2-text,
.usage__box-3-text{
    max-width: 240px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    position: relative;
}
.usage__box-1-text:before,
.usage__box-2-text:before,
.usage__box-3-text:before{
    content: "";
    width: 20px;
    height: 3px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #7bbf1c;
}